// Grid stuffs

.grid {
  display: grid;

  // columns
  grid-template-columns: 50% 50%;
  grid-template-columns: 200px 200px 200px;
  grid-template-columns: 1fr;
  grid-template-columns: 2fr 1fr 4fr;
  grid-template-columns: 500px 1fr 2fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr 2fr);
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // a minimum of 200 pixels, and I then set the maximum to be 1fr

  // rows
  grid-auto-rows: 100px;
  // grid-auto-rows: minmax(100px, auto);

  // grid-gap: 1rem;
  // grid-column-gap: 10px;
  // grid-row-gap: 1rem;

}

.grid-item {
  background: linear-gradient(to bottom, #1dd2af, #17a689);
  color: #fff;
  overflow-x: hidden;
  padding: 1.5rem;
  font-size: 150%;

  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(7),
  &:nth-child(10) {
    background: #fed26a;
    background: linear-gradient(to bottom, #fed26a, #fec238);
  }

  &:nth-child(2),
  &:nth-child(5),
  &:nth-child(9),
  &:nth-child(14) {
      background: #7ad0ff;
      background: linear-gradient(to bottom, #7ad0ff, #47beff);
  }

  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(12) {
    background: #df6974;
    background: linear-gradient(to bottom, #df6974, #d73f4e);
  }

// &.a {
//   grid-column-start: 1;
//   grid-column-end: 4;
//   grid-row-start: 1;
//   grid-row-end: 3;
// }

// &.b {
//   grid-column-start: 1;
//   grid-row-start: 3;
//   grid-row-end: 5;
// }

}

.nested {
  background: linear-gradient(to bottom, #1dd2af, #17a689);
  padding: 10px;
}

// .box1 {
//   grid-column-start: 1;
//   grid-column-end: 4;
//   grid-row-start: 1;
//   grid-row-end: 3;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-column-gap: 10px;
// }

// .item1 {
//   grid-column-start: 1;
//   grid-column-end: 4;
//   grid-row-start: 1;
//   grid-row-end: 3;
//   z-index: 1;
// }

// .item2 {
//   grid-column-start: 1;
//   grid-row-start: 2;
//   grid-row-end: 4;
//   z-index: 2;
// }


// Layout

.layout-wrapper {
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 1.5rem;
}

.layout-wrapper > div {
  color: white;
  padding: 1em;
}

.header {
  grid-area: header;
  background: linear-gradient(to bottom, #1dd2af, #17a689);
}
.footer {
  background: linear-gradient(to bottom, #fed26a, #fec238);
  grid-area: footer;
}
.content {
  grid-area: main;
  background: linear-gradient(to bottom, #7ad0ff, #47beff);
}
.sidebar {
  background: linear-gradient(to bottom, #df6974, #d73f4e);
  grid-area: sidebar;
}

.layout-wrapper {
  // display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
}

// @media (min-width: 31.25em) {
//   .layout-wrapper {
//     grid-template-columns: repeat(9, 1fr);
//     grid-template-areas:
//       "header header header header header header header header header"
//       "sidebar sidebar sidebar main main main main main main"
//       "sidebar sidebar sidebar footer footer footer footer footer footer";
//   }
// }
// @media (min-width: 43.75em) {
//   .layout-wrapper {
//     grid-template-areas:
//       "header header header header header header header header header"
//       "sidebar sidebar main main main main main footer footer";
//   }
// }
